<%= form_for(@palette) do |f| %>
  <% if @palette.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@palette.errors.count, "error") %> prohibited this palette from being saved:</h2>

      <ul>
      <% @palette.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
	<div>
	<% @palette.colors.each do |color| %>
		<input class="color" type="color" name="palette[colors][]" value="<%= color.hex_value %>">
	<% end %>
	</div>
<% end %>
