<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @palette.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @palette.slug %>
</p>

<%= link_to 'Edit', edit_palette_path(@palette) %> |
<%= link_to 'Back', palettes_path %>
