<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @palette.name %>
</p>

<p>
<% @palette.colors.each do |color| %>
	<input class="color" type="color" name="palette[colors][]" value="<%= color.hex_value %>">
<% end %>
</p>

<%= link_to 'Edit', edit_palette_path(@palette) %> |
<%= link_to 'Destroy', @palette, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'New', new_palette_path %> |
<%= link_to 'All', palettes_path %> |
<%= form_tag(share_palette_path, method: "post") do %>
  <%= label_tag(:share, "Share with:") %>
	<%= email_field(:share, :email) %>
	<%= hidden_field :palette, :id, :value => @palette.id %>
  <%= submit_tag("Share!") %>
<% end %>
