<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @palette.name %>
</p>

<p>
<% @palette.colors.each do |color| %>
	<input type="color" name="palette[colors][]" value="<%= color.hex_value %>">
<% end %>
</p>

<%= link_to 'Edit', edit_palette_path(@palette) %> |
<%= link_to 'Back', palettes_path %>
